/* Removes every default settings of the webpage */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* color variables */

:root {
    --white: #fafafa;
    --grey: #f2f2f2;
    --aqua: #52ab98;
    --darkgrey: #c8d8e4;
    --blue: #2b6777;
}


/* Default settings for anything that appears in the body */
body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--grey); 
    font-size: 20px;
    
}

.hero{
    background-image: radial-gradient(circle, #2b6777,
    #2d7883, #33898d, #409a94, #52ab98);
    width: 100%;
    min-height: 45rem;
    background-repeat:no-repeat;
}


.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px 5px;
    background-color:var(--white);
    min-height: 1rem;
}

.navbar h3{
    color: var(--blue);
}

.ham{
    color: var(--blue);
    font-size: 30px;
    display: none;
    cursor: pointer;
    background: transparent;
    border: 0;
}




.nav-links{
    display: inline-block;
    padding: 10px;
    
}


.nav-links a{
    color: var(--blue);
    text-decoration: none;
}

.nav-links:hover{
    transform: scale(1.08);
    transition: transform .3s;
}



/* .hero_contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
    margin: auto;
    height: auto;
} */

.hero_contents{
    width: 95%;
    margin: auto;
}


.contents{
    max-width: 75%;
    margin: auto;
    margin-top: 150px;

}

.contents h1{
    font-size: 5.5rem;
    font-weight:400;
    color: var(--grey);
    margin-bottom: 10px;
    line-height: 1;
    
}

.contents p{
    color:var(--grey);
    margin-top:20px;
    margin-bottom: 60px;
}

.contents a{
    display: block;
    max-width: fit-content;
    background-color: var(--blue);
    color: var(--grey);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    text-decoration: none;
    padding:10px;
    border-radius:5px;
    font-size: 2rem;
    
}

.contents a:hover{
    
    opacity: .7;
}



#about , #projects, #contact{
    margin-top: 100px;
}

.about_container ,.projects_container, .contact_container,.footer_container{
    max-width: 92%;
    margin: auto;
    /* border: 1px solid green; */
    /* background: var(--white); */
    border-radius: 5px;
    
}



.about_header_pri, .projects_header, .contact_header{
    display:block;
    text-align:center;
    letter-spacing: 1px;
    font-size:3rem;
    margin-bottom: 1rem; 
    color: var(--blue);
    margin-bottom: 50px;
}

.about_header_sec{
    width: 50%;
    margin:auto;
    text-align:center;
    margin-bottom: 50px;
    font-size:1.2rem;
  
}

.about_header_sec a{
    color:var(--blue);
    text-decoration: none;
}

.about_header_sec a:hover{
    opacity:.7;
}

.about_content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 50px;
    margin: 50px;
    gap: 20px;
}

.about_me h3,.about_me_skills h3{
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: var(--blue);
    font-size:2rem;
}

.about_me p{
    line-height: 1.5;
    margin-bottom: 3rem;
}

.about_me a{
    text-decoration:none;
    background: var(--aqua);
    color:var(--white);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.about_me a:hover{
    opacity: .9;
}



.skills{
    display: flex;
    flex-wrap: wrap;
}

.skills_skill{
    background: var(--aqua);
    padding: 10px;
    margin: 10px;
    color: var(--white);
    border-radius: 5px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.projects_card_wrapper ,.form_wrapper , .socials_wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 95%;
    margin:auto;
    gap: 20px;
}

.cards{
    max-width: 300px;
    min-height: 400px;
    background-color: var(--darkgrey);
    color: var(--blue);
    border-radius:0 20px 0 20px;
    transition: 0.3s;
    cursor: pointer;
}

.cards:hover{
    transform: scale(1.02);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


.project_image img{
   width: 100%;
   object-fit: cover;
   border-radius: 0 20px 0 0;
   
}

.project_contents{

    padding:1rem;

}


.project_description{
    display: block;
    font-size: 1rem;
    color: var(--blue);
}

.project_technologies{
    display: flex;
    flex-wrap: wrap;
    
}

.tech{
    background-color: var(--grey);
    padding: 2px;
    margin: 5px;
    border-radius: 5px;
    font-size: 15px;
}

.project_links{
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 10px;
   margin: 50px;
   
}

.link1, .link2{
    text-decoration: none;
    color: var(--blue);
   
    
}

.contact_form_container{
    width: 50%;
    margin: auto;
}

.contact_form_label{
    font-size:1rem;
    margin-left: 13px;
    color: var(--blue);
    font-weight: bold;
}

.contact_form_input, textarea{
   width: 100%;
   padding: 10px;
   border: 1px solid var(--grey);
   background:var(--darkgrey);
   border-radius: 5px;
   margin-top:5px;
   margin-bottom:15px;
   line-height: 1.5;
   font-size: 1rem;
   resize: none;
}

.form_button{
    min-width:30%;
    padding: 10px;
    background: var(--blue);
    border: none;
    border-radius: 5px;
    margin:20px;
    font-size:1.5rem;
    color:var(--grey);
    
   
}

.form_button:hover{
    transform: translateY(-3px);
    cursor: pointer;
}


footer{
   background-image: linear-gradient(to bottom, #334a52, #32515b, #315864, #2f606e, #2b6777);
   
}

.social_icons{
    display: flex;
    justify-content: space-between;
}

.social_icons a{
    margin: 30px;
    color: var(--grey);
    
}

.social_icons a:hover{
     transform: translateY(-3px);
}

.footer_lower_content{
    text-align: center;
    color: var(--grey);
    font-size: 1rem;
}


/* Media queries to make the website mobile responsive */
@media  screen and (max-width:796px) {

   .nav_ul{
       display: none;
   }

   .nav_ul.show{
       display: flex;
       width: 100%;
       flex-direction: column;
       align-items:center;
   }


   .ham{
       display: block;
   }


   
    .contents h1{
     
      font-size: 60px;
  }

  .about_content{
      display: flex;
      flex-direction: column;
      margin: 5px;
  }

  .contact_form_container{
      width: 100%;
  }
  





}
